/*
 *   mystyles.css 
 */
 
.ui-icon-usda:after {
    background-image: url("images/usda.png");
	background-size: 22px 22px;
}

.ui-icon-dev:after {
    background-image: url("images/devicon.png");
	background-size: 22px 22px;
}

.ui-icon-bw-person:after {
    background-image: url("images/bwpersonicon.png");
	background-size: 22px 22px;
}

.ui-icon-suit:after {
    background-image: url("images/suitcartoon.png");
	background-size: 22px 22px;
}

.ui-icon-admin1:after {
    background-image: url("images/admin1.png");
	background-size: 22px 22px;
}

.ui-icon-admin2:after {
    background-image: url("images/admin2.png");
	background-size: 22px 22px;
}

.ui-icon-admin-suit:after {
    background-image: url("images/adminsuit.png");
	background-size: 22px 22px;
}

.ui-icon-admin3:after {
    background-image: url("images/admin3.png");
	background-size: 22px 22px;
}

.ui-icon-admin-glasses:after {
    background-image: url("images/adminglasses.png");
	background-size: 22px 22px;
}

.ui-icon-orange-admin:after {
    background-image: url("images/orangeadmin.png");
	background-size: 22px 22px;
}

.ui-icon-group-dev:after {
    background-image: url("images/groupdevicon.png");
	background-size: 22px 22px;
}

.ui-icon-protein:after {
    background-image: url("images/protein.png");
	background-size: 22px 22px;
}

p > img {
    display: block;
    width: 90px;
    height: 120px;
    box-shadow: 0 0 5px grey;
    margin-top: 0;
    margin: auto;
}

table {
    margin: auto;
}

th {
    text-align: right;
    padding-right: 10px;
}

td {
    text-align: left;
}